body {
    background-color: #000000;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 72px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Updated CSS for the duck animation */

.duck {
    position: absolute;
    top: 0;
    left: -100px;
    width: 50px; /* Adjust the width as desired */
    animation: duckMove 10s linear infinite;
    z-index: 1;
}

@keyframes duckMove {
    from {
        left: -100px;
    }
    to {
        left: calc(100% - 100px); /* Adjust the width and positioning of the duck */
    }
}
